*:focus {
    outline: none;
}

h6 {
    font-size: 20px !important;
    font-weight: bold;
}

.kanban-height, .post-list-height {
    height: calc(100vh - 150px);
}

.job-detail-height {
    height: calc(100vh - 370px);
}

.main-height {
    min-height: calc(100vh - 150px);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    /* For Firefox */
}

/* // css for editor */

ol {
    padding: 20px;
}

li {
    list-style-type: initial;
}

li li {
    list-style-type: square;
}